


<table class="table table-striped">
<!--
	<tr>
		<th>Кількість кімнат (Я)</td>
		<td>Тип помешкання (Я)</td>
		<td>Місто (Я)</td>
		<td></td>
		<td>Кількість кімнат (Ти)</td>
		<td>Тип помешкання (Ти)</td>
		<td>Місто (Ти)</td>
		<td>Фотографія</td>
		<td>Опис (Ти)</td>
		<td>Дата</td>
	</tr>
-->
		<th></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td><%= variant.kimnatYa %></td>
		<td><%= variant.typYa %></td>
		<td><%= variant.mistoYa %></td>
		<td>міняю на</td>
		<td><%= variant.kimnatVin %></td>
		<td><%= variant.typVin %></td>
		<td><%= variant.mistoVin %></td>
		<td><%= variant.image_file_name %></td>
		<td><%= variant.description %></td>
		<td><%= variant.created_at %></td>
	</tr>

</table>





