<div class="container">

<%= render 'pages/searcharea' %>

<div id="variants" class="transitions-enabled">
    <% @variants.each do |variant| %>
       <div class="box panel panel-default"> 
    <!--    <%= image_tag variant.image.url(:medium) %> -->
        <div class="panel-body">
            <% if variant.user == current_user%>
          <div align="right">
              <button type="button" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-star"></span> <%= variant.kimnatYa[0,3] %>.=><%= variant.kimnatVin[0,3] %>
              </button>
          </div>
            <% end %>
          <br>
          <p>
          <%= variant.kimnatYa %>
          <%= variant.typYa %>
          <%= variant.mistoYa %>
          </p>
          <h6 style="font-weight:bold">міняю на:</h6>
          <p>
          <%= variant.kimnatVin %>
          <%= variant.typVin %>
          <%= variant.mistoVin %>

          </p>
          <p>
          <%= variant.description %>
        </p>
          <p>
          <%= link_to 'Докладніше...', variant %>
          </p>
          <% if variant.user == current_user%>
            
            <%= link_to edit_variant_path(variant) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Редагувати
            <% end %>
            <%= link_to variant, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Видалити



            <% end %>


          <% end %>

      </div>
    </div>
    <% end %>
</div>

<div class="container">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


</div>