<!-- <% if user_signed_in? %>
  <%= link_to 'New Variant', new_variant_path %>
<% end %> -->

<div id="variants" class="transitions-enabled">
    <% @variants.each do |variant| %>
       <div class="box panel panel-default"> 
        <%= image_tag variant.image.url(:medium) %>
        <div class="panel-body">
          <%= variant.kimnatYa %>
          <%= variant.typYa %>
          <%= variant.mistoYa %>
          <h6 style="font-weight:bold">міняю на:</h6>
          <%= variant.kimnatVin %>
          <%= variant.typVin %>
          <%= variant.mistoVin %>
          <%= variant.description %>
          
          <%= link_to 'Show', variant %>
          
          <% if variant.user == current_user%>
            <%= variant.user.email if variant.user%>
            <%= link_to 'Edit', edit_variant_path(variant) %>
            <%= link_to 'Destroy', variant, method: :delete, data: { confirm: 'Ви дійсно бажаєте видалити цей варіант?' } %>
          <% end %>
      </div>
    </div>
    <% end %>
</div>

<ul>
            <%= button_to "Розмістити оголошення", new_variant_path, :class => "btn btn-default navbar-btn btn-warning", :method => :get  %>
</ul>
