
<%= image_tag @variant.image.url(:medium) %>

<p>
  <strong>Kimnatya:</strong>
  <%= @variant.kimnatYa %>
</p>

<p>
  <strong>Typya:</strong>
  <%= @variant.typYa %>
</p>

<p>
  <strong>Mistoya:</strong>
  <%= @variant.mistoYa %>
</p>

<p>
  <strong>Kimnatvin:</strong>
  <%= @variant.kimnatVin %>
</p>

<p>
  <strong>Typvin:</strong>
  <%= @variant.typVin %>
</p>

<p>
  <strong>Mistovin:</strong>
  <%= @variant.mistoVin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @variant.description %>
</p>

<% if @variant.user == current_user%>
  <%= link_to 'Edit', edit_variant_path(@variant) %> |
<% end %>


<%= link_to 'Back', variants_path %>
